*,*::before,*::after {
  box-sizing: border-box;

}
html{
    height: 100%;
}

body{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    height: 100%;
    

}
.main-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    align-items: center;

    height: 73px;
    border-bottom: 1px solid #e5e9f2
    
}





.header-container{
    margin-top: auto;margin-bottom: auto;
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
     
}   
    

    
    


.logo{

margin-right: 40px;
display: block;

}

.nav{

font-weight: bold;
font-size: 14;
line-height: 1,43;
color: #18191F;
margin-top: -2px;

}

.nav-link{
color: #18191F;
text-decoration: none;
margin-right: 32px;
}

.nav-link :last-child{
    margin: 0

}
.nav-link:hover{
   color: blueviolet; 
}

.appstore{
  margin-left: auto;  

}

.appstore-item{
    margin-left: 12px ;
}
.main{

}

.main-content{
    width: 540px;
    font-size: 18px;
    line-height: 1.78;  
    
}

.main-container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 197px;
    padding-bottom: 197px;

   
    
}

.main-img{

}

.main-header {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 72px;
    line-height: 1.36;
    color: #18191F; 
    
}

.main-content p{
    font-size: 18;

}

.main-text  {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.78;
}
.main-text p{
    margin-bottom: 15;
    font-size: 18px;
    line-height: 1.78;
}

.button{
    display: inline-block;
    height: 62px;
    background: #8c30f5;
    border-radius: 8px;
    padding-right: 35px;
    padding-left: 35px;
    font-weight: bold;
    font-size: 20px;
    line-height: 62px;
    color: #e5e9f2;
    text-decoration: none;
}
.button:hover {
    opacity: 0.8;
}


.footer{
    display: flex;
    background: #0B0D17;
    height: 72px;
    color: #d9dbe1;
}

.footer-container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright{
font-size: 14px;
}


.footer-socials {
display: flex;
}

.footer-socials-item {
margin-left: 16px;

}

       